* {
  margin: 0;
  border: none;
  user-select: none;
}

.title {
  margin: 0;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-size: 5vw;
  padding-top: 5vw;
  padding-bottom: 1vw;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	box-shadow: 0px 6px 28px -6px rgba(0, 0, 0, 0.67);
	background-color: #173d72;
	color: #f29206;
}

.modal {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

@keyframes animatecard {
  from {opacity:0; height: 320px; width: 55vw;}
  to {opacity:1; height: 335px; width: 60vw;}
}

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start ;
  align-items: center;
  height: 280px;
  width: 60vw;
  background-color: gray;
  color: black;
  position: fixed;
  top: 10vh;
  padding-top: 20px;
  font-size: 5vh;
  border: solid 0.5vw #f29206;
  border-radius: 20px;
  animation: animatecard 0.4s;
}

#counter {
  font-size: 7vw;
  position: absolute;
  top: 10px;
  right: 30px;
  color: #f29206;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  width: auto;
}

#infoLogin {
  width: 40vw;
}

#action {
  color: white;
  background-color: #173d72;
  padding-top: 8px;
}

#numeroTP {
  font-size: 5vh;
  color: #f29206;
  background-color: #173d72;
  padding: 3px 17px 8px 17px;
}

#idEmUso {
  color: #173d72;
  background-color: #f29206;
  border:#173d72 solid 3px;
  padding: 3px 17px 3px 17px;
}

#login {
  animation: fade 2s;
}

/* input {
  background-color: transparent;
  font-size: 3vh;
  font-family: monospace;
  text-align: center;
  color: #173d72;
}

input:focus {
  outline-style: none;
} */

.input {
  outline-style: none;
  background-color: transparent;
  font-size: 3vh;
  font-family: monospace;
  text-align: center;
  color: #173d72;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  margin: 1vw;
  border-radius: 5px;
  border: solid white 2px;
  padding: 5px;
  width: 33vw;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.unit:focus {
  background-color: #f29206;
  border-color: #173d72;
}

.unit {
  outline-style: none;
  font-size: 2vh;
  height: 3vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: lightgray;
  width: 5vw;
  margin: 1vw;
  padding: 5px;
  border-radius: 5px;
  border: solid white 2px;
  -webkit-text-security: disc;
  caret-color: transparent;
  color: rgb(196, 196, 196);
}

.password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.matricula {width: 30vw;}
.unit { width: 4vw;}

.main {
  background-color: transparent;
  border: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vw;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  border: 0;
  margin-top: 15vw;
}

.grid-item {
  font-family: monospace;
  border: solid black 0.5vw;
  border-radius: 10px;
  margin: 1vw;
  background-color: white;
  font-size: 4.5vw;
  text-align: center;
  padding: 8px;
  transition: 0.2s;
}

.em-uso {
  border-color: #f29206;
  color: #f29206;
}

.devolvido {
  border-color: #173d72;
  color: #173d72;
}

.transporte {
  border-color: rgb(111, 142, 245);
  color: rgb(111, 142, 245);
}

.bloqueado {
  border-color: grey;
  color: grey;
}

.active-item {
  background-color: #173d72;
  color: #f29206;
  border-color: #173d72;
}

.hidden {
  display: none;
}